<!doctype html>
<html lang="en">
<head>
  <title>调查问卷</title>
  <%- include('common-head') %>
  <link rel="stylesheet" href="/stylesheets/admin.css"/>
</head>
<body>

<script src="/javascripts/commons.js"></script>
<script src="/javascripts/admin.js"></script>
</body>
</html>
