.content{
	.option-container {
		.option-list{
			position: relative;
			width: 100%;

			.option-item{
				@height: 40px;
				width: 100%;
				box-sizing: border-box;
				padding-left: 30px;
				margin-top: 10px;

				.option-index{
					position: absolute;
					top: 0;
					left: 5px;
					line-height: @height;
					font-size: 18px;
				}
				.option-value-list-container{
					width: 100%;
					border: 1px solid #eee;
					border-width: 1px 0 0 1px;
				}
				.option-value-add-btn{
					position: relative;
					display: inline-block;
					box-sizing: border-box;
					width: 25%;
					height: @height+1px;
					border: 1px solid #eee;
					border-width: 0 1px 1px 0;
					padding: 0;
					color: #fff;
					background-color: #e3e3e3;
					font-size: 24px;
					font-weight: 100;
					outline: none;
					vertical-align: top;
				}
				.option-value-container{
					position: relative;
					display: inline-block;
					box-sizing: border-box;
					width: 25%;
					//height: @height;
					font-size: 18px;
					border: 1px solid #f1f1f1;
					border-width: 0 1px 1px 0;
					.option-name{
						border: none;
						outline: none;
						line-height: @height;
						box-sizing: border-box;
						width: 100%;
						color: #444;
						padding: 0 20px 0 10px;
						vertical-align: top;

						&:focus{
							color: #333;
							background-color: #fafafa;
						}
					}
					.delete-btn{
						position: absolute;
						top: 0;
						right: 15px;
						color: #ccc;
						line-height: @height;
						font-weight: 100;
					}
				}

				.option-value-error{
					.option-name{
						background-color: #FF4047;
					}
				}
			}
		}
	}
}